<div class="d-flex justify-content-center mt-5">
  <img [src]="item[0].image" class="card-img-top w-25" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item[0].title}}</h5>
        <p class="card-text">Price : {{ item[0].price | currency }}</p>
        <p class="card-text">Category : {{ item[0].category }}</p>
        <p class="card-text">Description : {{ item[0].description }}</p>
        <p class="card-text">Rate : {{ item[0].rating.rate }}</p>
        <a class="btn btn-primary" >Add To Cart</a>
    </div>
</div>
